body {
    font-family: "Consolas";
    background-color: rgb(17, 23, 39);
    color: rgb(247, 236, 82);
    text-align: center;
}
h1 {
    font-size: 3em;
}

#speed {
    text-align: left;
    padding-left: 50%;
}